.wallet-header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  height: 6vh;
  box-shadow: 0px 6px 5px -2px rgba(168,168,168,1);
}

.wallet-header > * {
  margin: 8px 24px ;
  font-size: 16px;
}

.expense-form {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: 12vh;
  background-color: var(--accent-color);
}

.expense-form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 15%;
}

.expense-form-button {
  background-color: var(--blue);
  align-self: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  height: 48%;
  width: 16vw;
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.42);
}

.expense-form-button:active {
  transform: scale(0.98);
  box-shadow: inset 7px 6px 8px -3px rgba(77, 77, 77, 0.44);
}

.expense-form-input-text {
  border-radius: 2px;
  background-color: var(--grey);
  border: 2px solid var(--grey);
  outline: none;
  padding: 4px 8px;
  font-size: 16px;
}

.expense-form select {
  padding: 3px 8px;
  background-color: var(--grey);
  font-size: 16px;
  border-radius: 2px;
  border: 2px solid var(--grey);
  outline: none;
}

.expense-list-table {
  margin: 8px 0;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.expense-list-table > * {
  height: 40px;
  width: 200px;
}

.break-line {
  width: 100vw;
  height: 2px;
  background-color: var(--blue);
  margin: 0;
}

.head {
  background-color: var(--blue);
  margin: 0;
}