body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: Monaco, monospace;
}

:root {
  --main-color: #f0ebf4;
  --secondary-color: #b39bc8;
  --accent-color: #e64397bd;
  --pink: #f172a1;
  --blue: #7bcdf0;
  --grey: rgb(235, 231, 231);
}
